html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  width: 100%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background: #edf3f3;
}

img {
  border: none;
}

#box {
  width: 100%;
  max-width: 400px;
  padding-bottom: 6em;
}